html, body{
    height: 90%;
align-items: center;
}

app-root{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.router-container{
    padding-left: 15%; 
    padding-right: 15%;
}

@media(max-width: 576px){
    .router-container{
    padding-left: 4%;
    padding-right: 4%;
    }
}