.login-container {
    max-width: 400px;
    border-radius: 8px;
    border: 1px solid rgba(128, 128, 128, 0.2);
    box-shadow: rgba(0, 0, 0, 0.1);
}

.btn-primary:disabled{
    background-color: rgba(84,139,201,255);  
}

.btn-primary:not(:disabled){
    background-color: rgba(1,80,147,255);  
}