<div class="footer-wrapper">
<footer class="footer fixed-bottom" style="background-color: rgb(3, 3, 51); height: 5%;">
    <div class="container text-center">
        <span class="text-white">
            <p><a href="https://www.artsy.net/" class="text-white text-decoration-none">Powered by </a>
                <img class="footer-img" src="/artsy_logo.svg" alt="Artsy Logo" style="height: 18px;" > 
                <a href="https://www.artsy.net/" class="text-white text-decoration-none"> Artsy. </a>
            </span>
    </div>
</footer>
</div>